<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbses.service.dao.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.dbses.service.entity.OrderEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
        <result column="order_create_date" jdbcType="TIMESTAMP" property="orderCreateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_status, order_create_date
    </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_order
        where id = #{orderId}
    </select>

    <update id="updateByIdUseMybatis" parameterType="com.dbses.service.entity.OrderEntity">
        UPDATE tbl_order
        <set>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="orderCreateDate != null">
                order_create_date = #{orderCreateDate}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>